.obsidian/app.json
.obsidian/core-plugins-migration.json
.obsidian/core-plugins.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/hotkeys.json
.obsidian/plugins/*
.obsidian/themes/*
.git/*
zettelkasten/.venv/*
zettelkasten/ML-CSCI325/code/.venv/*
